/* BASICS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: 'Poppins';
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
}

body{
    min-width: 100vw;
    min-height: 100vh;
}

button{
    cursor: pointer;
}


/********** HELPERS **********/

.main-layout {
    padding: 0 10px;
    max-width: 1200px;
    margin: auto;
}

.margin-top {
    margin-top: 20px;
}

/* FLEX */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

/* BUTTONS */

.search-btn {
    padding: 12px 20px 12px 10px;
    border: none;
    background-color: #58ad58;
    border-end-end-radius: 2em;
    border-start-end-radius: 2em;
    color: white;
    /* font-weight: 80; */
    font-size: 1.1rem;
}

.search-btn:hover {
    /* opacity: .7; */
    background: linear-gradient(90deg, rgba(88,173,88,1) 19%, rgba(35,101,35,1) 100%);
    cursor: pointer;
}

.search-btn:active {
    transform: scale(.95);
}

.search-btn::before:hover{
    transform: scale(1.1);
}

.loc-btn{
    border: none;
    background: none;
}

.user-pos-btn{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 0;
    background-color: white;
    font-weight: 800;
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
    margin: 10px;
    color: rgb(68, 68, 68);
}

/********** START **********/

/* HEADER */

header{
    background-color: rgb(209, 209, 209);
    padding: 10px;
}

h1 {
    font-size: 2.5rem;
    letter-spacing: -2px;
    color: #2b7e2b;
}

input[type="search"] {
    text-align: center;
    padding: 10px 20px;
    font-size: 1.1rem;
    border: none;
    outline: none;
    border-end-start-radius: 2em;
    border-start-start-radius: 2em;
    background:  linear-gradient(90deg, rgba(255,255,255,1) 87%, rgba(88,173,88,1) 99%);
}

/* TO BE GIVEN A NAME / CHANGED POSITION */

.curr-location h2 {
    font-size: 2rem;
}

.curr-location span {
    font-size: 1.3rem;
}

/***** MAIN *****/

/* WEATHER */

/* LOCATIONS TABLE */

/* MAP */

#map {
    width: 50%;
    height: 650px;
}